h1{
	color: crimson;
}
body{
	background: url('ship.jpeg');
	background-size: cover;
	font-family: Arial;

}
.wrap{
	max-width: 350px;
	border-radius: 20px;
	margin: auto;
	background: rgba(0,0,0,0.7);
	box-sizing: border-box;
	padding: 40px;
	color:#fff;

}
a{
	width: 100%;
	font-style: 
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border: none;
	background: #60adee;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
}
